.item {
  display: flex;
  width: 200px;
  margin-bottom: 10px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.avatar {
  border: 2px solid thistle;
  border-radius: 10%;
}
.name {
  margin-left: 15px;
}
